* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

body {
    font-family: sans-serif;
    max-width: fit-content;
}

header {
    border-bottom: 1px solid;
    margin: 1.5625rem auto 1.5625rem;
    padding-bottom: 1.5625rem ;
}

header h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0 auto 1.5625rem;
    text-align: center;
}

header nav {
    background-color: #00a6ed;
    border-radius: 1.25rem;
    
}

header nav ul {
    display: flex;
    gap: 35px;
    justify-content: space-between;
    margin: 0;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    border-radius: 1.25rem;

    color: #000;
    display: block;
    
    margin: 0;
    padding: 5px;

    text-decoration: none;
}

header nav ul li a:hover {
    background-color: #0074ba;
    color: #fff;
}

main h2 {
    background-color: #00a6ed;
    border-radius: 1.25rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    width: 50%;
    padding: 0 50px;
    text-align: center;
}

main div {
    background-color: #f9c23c;
    border-radius: 1.25rem;
    margin: 0px 0 15px;
    min-height: 150px;
    padding: 5px;


}

main div ul {
    padding: 25px 10px ;
}

main div ul li {
    list-style: none;
}

main div ul li + li {
    margin: 5px 0 0;
}

main div ul li input {
    margin-right: 5px;
}